.modal .modal-content {
    padding: 30px;
}

.form-submit{
    cursor: pointer;
    float: right;
    margin-left: 5px;
}

h2 {
    padding-bottom: 40px;
}

.captcha-image {
    padding-left: 0;
    width: auto;
}

.manage-email .form-submit, .manage-email-text {
    width: 130px;
}

.manage-email-text {
    margin-top: 5px;
    text-align: center;
}

.manage-email-fields {
    padding: 5px 10px;
}

#liam2_add_another_email {
    padding-left: 50px;
    margin-top: -8px;
}

.go-back {
    display: inline-block;
}

.go-back a {
    margin-right: 10px;
}

.show-hide-password {
    padding: 0;
}
.input-group-addon {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 992px) {
    .modal .modal-dialog {
        max-width: 80%;
    }
    .form-submit {
        float: none;
    }
    #liam2_add_another_email {
        padding-left: 20px;
    }
}

@media (max-width: 576px) {
    #liam2_add_another_email {
        padding-left: 5px;
    }
}
